body{   
    background-color: black;
    color: white;
    font-family: 'Anton',serif;
    text-align: center;
    font-size: 40px;
}

.line1 {
    font-family: 'Cinzel', serif;
    color: #FF5733; /* Orange color */
}

.highlight1 {
    font-family: 'Dancing Script', serif; ;
    color: #E74C3C; 
    font-weight: bold; /* You can add additional styles as needed */
}

.highlight2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color: #E74C3C; /* Red color */
    
}

.line2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color: #2E86C1; /* Blue color */
}

.line3 {
    font-family: 'Orbitron', sans-serif;
    color: #27AE60; /* Green color */
}

.beat-war {
    font-family: 'Permanent Marker', cursive;
    color: #E74C3C; /* Red color */
}

.line3, .beat-war {
    font-family: 'Orbitron', sans-serif;
    color: #27AE60; /* Green color */
}

.highlight {
    font-weight: bold;
    font-size: 48px; /* You can adjust the font size as needed */
}

.talk-to-god {
    font-family: 'Shadows Into Light', cursive;
    color: #8E44AD; /* Purple color */
}

.hands-up {
    font-family: 'Anton', sans-serif;
    color: #E67E22; /* Orange color */
}

.move-mountain {
    font-family: 'Cinzel', serif;
    color: #3498DB; /* Blue color */
}

.be-master {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color: #E74C3C; /* Red color */
}


.dedicate-yourself {
    font-family: 'Orbitron', sans-serif;
    color: #27AE60; /* Green color */
}

.high{
    font-weight: bold;
    font-size: 48px; /* You can adjust the font size as needed */
}

.hall-of-fame, .hall-of-fame-line5 {
    font-family: 'Cinzel', serif;
    color: #3498DB; /* Blue color */
}

.world-knows {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color: #E74C3C; /* Red color */
}

.brightest-flame {
    font-family: 'Orbitron', sans-serif;
    color: #27AE60; /* Green color */
}

.walls-of-fame {
    font-family: 'Permanent Marker', cursive;
    color: #8E44AD; /* Purple color */
}

.distance {
    font-family: 'Shadows Into Light', cursive;
    color: #E67E22; /* Orange color */
}

.smile {
    font-family: 'Anton', sans-serif;
    color: #FF5733; /* Orange color */
}

.hero {
    font-family: 'Cinzel', serif;
    color: #3498DB; /* Blue color */
}

.records {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color: #E74C3C; /* Red color */
}

.people {
    font-family: 'Orbitron', sans-serif;
    color: #27AE60; /* Green color */
}

.try {
    font-family: 'Permanent Marker', cursive;
    color: #8E44AD; /* Purple color */
}

.country {
    font-family: 'Shadows Into Light', cursive;
    color: #E67E22; /* Orange color */
}

.day {
    font-family: 'Anton', sans-serif;
    color: #FF5733; /* Orange color */
}

.champion-line1, .champion-line2, .champion-line3, .champion-line4, .hall-of-fame-line5 {
    font-family: 'Cinzel', serif;
    color: #3498DB; /* Blue color */
}

.role-line1, .role-line7 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color: #E74C3C; /* Red color */
}

.role-line2, .role-line8 {
    font-family: 'Orbitron', sans-serif;
    color: #27AE60; /* Green color */
}

.role-line3, .role-line9 {
    font-family: 'Permanent Marker', cursive;
    color: #8E44AD; /* Purple color */
}

.role-line4, .role-line10 {
    font-family: 'Shadows Into Light', cursive;
    color: #E67E22; /* Orange color */
}

.role-line5, .role-line11 {
    font-family: 'Anton', sans-serif;
    color: #FF5733; /* Orange color */
}

.role-line6 {
    font-family: 'Cinzel', serif;
    color: #3498DB; /* Blue color */
}


.line1, .role1 {
    font-family: 'Cinzel', serif;
    color: #3498DB; /* Blue color */
}

.line2, .role2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color: #E74C3C; /* Red color */
}

.line3, .role3 {
    font-family: 'Orbitron', sans-serif;
    color: #27AE60; /* Green color */
}

.line4, .role4 {
    font-family: 'Permanent Marker', cursive;
    color: #8E44AD; /* Purple color */
}

.line5, .role5 {
    font-family: 'Shadows Into Light', cursive;
    color: #E67E22; /* Orange color */
}

.line6, .role6 {
    font-family: 'Anton', sans-serif;
    color: #FF5733; /* Orange color */
}

.line7, .role7 {
    font-family: 'Cinzel', serif;
    color: #3498DB; /* Blue color */
}

.line8, .role8 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color: #E74C3C; /* Red color */
}

.line9 {
    font-family: 'Orbitron', sans-serif;
    color: #27AE60; /* Green color */
}



.line1:hover,
.line3:hover,
.beat-war:hover,
.hands-up:hover,
.be-master:hover,
.hall-of-fame:hover,
.brightest-flame:hover,
.smile:hover,
.records:hover,
.try:hover,
.champion-line1:hover,
.role-line2:hover,
.role-line4:hover,
.role-line6:hover,
.role-line8:hover {
    font-weight: bold;
    background-color: white; /* Change the background color on hover */
}

.line2:hover,
.line4:hover,
.talk-to-god:hover,
.move-mountain:hover,
.dedicate-yourself:hover,
.world-knows:hover,
.walls-of-fame:hover,
.distance:hover,
.hero:hover,
.people:hover,
.country:hover,
.day:hover,
.role-line1:hover,
.role-line3:hover,
.role-line5:hover,
.role-line7:hover,
.role-line9:hover,
.role-line10:hover,
.role-line11:hover {
    font-style: italic;
    background-color: #ffffff; /* Change the background color on hover */
}

